#page-1{
  background: #082850;
  width: 100%;
  height: 100%;
  position: fixed;
}

#smoke{
		position:absolute;
		height:500px;
		width:500px;
    margin:auto;
		top:0;
		left:0;
    right:0;
    bottom:0;
	}

#smoke svg{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin:auto;
  width:150px;
  height:150px
} 