/* line 3, ../sass/main.scss */
* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url("../../fonts/HelveticaNeue/HelveticaNeue.eot");
  src: url("../../fonts/HelveticaNeue/HelveticaNeue.eot?#iefix") format("embedded-opentype"), url("../../fonts/HelveticaNeue/HelveticaNeue.woff") format("woff"), url("../../fonts/HelveticaNeue/HelveticaNeue.ttf") format("truetype"), url("../../fonts/HelveticaNeue/HelveticaNeue.svg#HelveticaNeue") format("svg");
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'HelveticaNeue-Bold';
  src: url("../../fonts/HelveticaNeue-Bold/HelveticaNeue-Bold.eot");
  src: url("../../fonts/HelveticaNeue-Bold/HelveticaNeue-Bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/HelveticaNeue-Bold/HelveticaNeue-Bold.woff") format("woff"), url("../../fonts/HelveticaNeue-Bold/HelveticaNeue-Bold.ttf") format("truetype"), url("../../fonts/HelveticaNeue-Bold/HelveticaNeue-Bold.svg#HelveticaNeue-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'HelveticaNeue-Thin';
  src: url("../../fonts/HelveticaNeue-Thin/HelveticaNeue-Thin.eot");
  src: url("../../fonts/HelveticaNeue-Thin/HelveticaNeue-Thin.eot?#iefix") format("embedded-opentype"), url("../../fonts/HelveticaNeue-Thin/HelveticaNeue-Thin.woff") format("woff"), url("../../fonts/HelveticaNeue-Thin/HelveticaNeue-Thin.ttf") format("truetype"), url("../../fonts/HelveticaNeue-Thin/HelveticaNeue-Thin.svg#HelveticaNeue-Thin") format("svg");
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'myriadpro-regular';
  src: url("../../fonts/myriadpro-regular/myriadpro-regular.eot");
  src: url("../../fonts/myriadpro-regular/myriadpro-regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/myriadpro-regular/myriadpro-regular.woff") format("woff"), url("../../fonts/myriadpro-regular/myriadpro-regular.ttf") format("truetype"), url("../../fonts/myriadpro-regular/myriadpro-regular.svg#myriadpro-regular") format("svg");
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'myriadpro-bold';
  src: url("../../fonts/myriadpro-bold/MyriadPro-Bold.eot");
  src: url("../../fonts/myriadpro-bold/MyriadPro-Bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/myriadpro-bold/MyriadPro-Bold.woff") format("woff"), url("../../fonts/myriadpro-bold/MyriadPro-Bold.ttf") format("truetype"), url("../../fonts/myriadpro-bold/MyriadPro-Bold.svg#myriadpro-bold") format("svg");
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
/* line 82, ../sass/main.scss */
.container:before, .row:before, .container:after, .row:after {
  content: " ";
  display: table;
}
/* line 87, ../sass/main.scss */
.container:after, .row:after {
  clear: both;
}
/* line 91, ../sass/main.scss */
.container, .row {
  *zoom: 1;
}

/* line 96, ../sass/main.scss */
.container {
  max-width: 1200px;
  min-width: 992px;
  margin: 0 auto;
}
/* line 103, ../sass/main.scss */
.container.container-full {
  max-width: 100%;
  min-width: 992px;
}
@media (max-width: 1200px) {
  /* line 96, ../sass/main.scss */
  .container {
    max-width: 992px;
  }
}

/* line 129, ../sass/main.scss */
.row {
  margin: 0 -15px;
}

/* line 136, ../sass/main.scss */
[class*='col-'] {
  width: 100%;
  min-height: 1px;
  float: left;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 148, ../sass/main.scss */
.col-1 {
  width: 8.33333%;
}

/* line 148, ../sass/main.scss */
.col-2 {
  width: 16.66667%;
}

/* line 148, ../sass/main.scss */
.col-3 {
  width: 25%;
}

/* line 148, ../sass/main.scss */
.col-4 {
  width: 33.33333%;
}

/* line 148, ../sass/main.scss */
.col-5 {
  width: 41.66667%;
}

/* line 148, ../sass/main.scss */
.col-6 {
  width: 50%;
}

/* line 148, ../sass/main.scss */
.col-7 {
  width: 58.33333%;
}

/* line 148, ../sass/main.scss */
.col-8 {
  width: 66.66667%;
}

/* line 148, ../sass/main.scss */
.col-9 {
  width: 75%;
}

/* line 148, ../sass/main.scss */
.col-10 {
  width: 83.33333%;
}

/* line 148, ../sass/main.scss */
.col-11 {
  width: 91.66667%;
}

/* line 148, ../sass/main.scss */
.col-12 {
  width: 100%;
}

@media (max-width: 992px) {
  /* line 159, ../sass/main.scss */
  .col-tb-1 {
    width: 8.33333%;
  }

  /* line 159, ../sass/main.scss */
  .col-tb-2 {
    width: 16.66667%;
  }

  /* line 159, ../sass/main.scss */
  .col-tb-3 {
    width: 25%;
  }

  /* line 159, ../sass/main.scss */
  .col-tb-4 {
    width: 33.33333%;
  }

  /* line 159, ../sass/main.scss */
  .col-tb-5 {
    width: 41.66667%;
  }

  /* line 159, ../sass/main.scss */
  .col-tb-6 {
    width: 50%;
  }

  /* line 159, ../sass/main.scss */
  .col-tb-7 {
    width: 58.33333%;
  }

  /* line 159, ../sass/main.scss */
  .col-tb-8 {
    width: 66.66667%;
  }

  /* line 159, ../sass/main.scss */
  .col-tb-9 {
    width: 75%;
  }

  /* line 159, ../sass/main.scss */
  .col-tb-10 {
    width: 83.33333%;
  }

  /* line 159, ../sass/main.scss */
  .col-tb-11 {
    width: 91.66667%;
  }

  /* line 159, ../sass/main.scss */
  .col-tb-12 {
    width: 100%;
  }
}
@media (max-width: 768px) {
  /* line 171, ../sass/main.scss */
  .col-mb-1 {
    width: 8.33333%;
  }

  /* line 171, ../sass/main.scss */
  .col-mb-2 {
    width: 16.66667%;
  }

  /* line 171, ../sass/main.scss */
  .col-mb-3 {
    width: 25%;
  }

  /* line 171, ../sass/main.scss */
  .col-mb-4 {
    width: 33.33333%;
  }

  /* line 171, ../sass/main.scss */
  .col-mb-5 {
    width: 41.66667%;
  }

  /* line 171, ../sass/main.scss */
  .col-mb-6 {
    width: 50%;
  }

  /* line 171, ../sass/main.scss */
  .col-mb-7 {
    width: 58.33333%;
  }

  /* line 171, ../sass/main.scss */
  .col-mb-8 {
    width: 66.66667%;
  }

  /* line 171, ../sass/main.scss */
  .col-mb-9 {
    width: 75%;
  }

  /* line 171, ../sass/main.scss */
  .col-mb-10 {
    width: 83.33333%;
  }

  /* line 171, ../sass/main.scss */
  .col-mb-11 {
    width: 91.66667%;
  }

  /* line 171, ../sass/main.scss */
  .col-mb-12 {
    width: 100%;
  }
}
@media (min-width: 768px) {
  /* line 183, ../sass/main.scss */
  .col-push-1 {
    left: 8.33333%;
  }

  /* line 183, ../sass/main.scss */
  .col-push-2 {
    left: 16.66667%;
  }

  /* line 183, ../sass/main.scss */
  .col-push-3 {
    left: 25%;
  }

  /* line 183, ../sass/main.scss */
  .col-push-4 {
    left: 33.33333%;
  }

  /* line 183, ../sass/main.scss */
  .col-push-5 {
    left: 41.66667%;
  }

  /* line 183, ../sass/main.scss */
  .col-push-6 {
    left: 50%;
  }

  /* line 183, ../sass/main.scss */
  .col-push-7 {
    left: 58.33333%;
  }

  /* line 183, ../sass/main.scss */
  .col-push-8 {
    left: 66.66667%;
  }

  /* line 183, ../sass/main.scss */
  .col-push-9 {
    left: 75%;
  }

  /* line 183, ../sass/main.scss */
  .col-push-10 {
    left: 83.33333%;
  }

  /* line 183, ../sass/main.scss */
  .col-push-11 {
    left: 91.66667%;
  }

  /* line 183, ../sass/main.scss */
  .col-push-12 {
    left: 100%;
  }

  /* line 191, ../sass/main.scss */
  .col-pull-1 {
    left: -8.33333%;
  }

  /* line 191, ../sass/main.scss */
  .col-pull-2 {
    left: -16.66667%;
  }

  /* line 191, ../sass/main.scss */
  .col-pull-3 {
    left: -25%;
  }

  /* line 191, ../sass/main.scss */
  .col-pull-4 {
    left: -33.33333%;
  }

  /* line 191, ../sass/main.scss */
  .col-pull-5 {
    left: -41.66667%;
  }

  /* line 191, ../sass/main.scss */
  .col-pull-6 {
    left: -50%;
  }

  /* line 191, ../sass/main.scss */
  .col-pull-7 {
    left: -58.33333%;
  }

  /* line 191, ../sass/main.scss */
  .col-pull-8 {
    left: -66.66667%;
  }

  /* line 191, ../sass/main.scss */
  .col-pull-9 {
    left: -75%;
  }

  /* line 191, ../sass/main.scss */
  .col-pull-10 {
    left: -83.33333%;
  }

  /* line 191, ../sass/main.scss */
  .col-pull-11 {
    left: -91.66667%;
  }

  /* line 191, ../sass/main.scss */
  .col-pull-12 {
    left: -100%;
  }
}
/* line 198, ../sass/main.scss */
html, body {
  position: relative;
  width: 100%;
  height: 100%;
}

/*###############################################
##
##   Header section
##
###############################################*/
/* line 214, ../sass/main.scss */
header.headerTest1 {
  width: 100%;
  height: 120px;
  background-color: #FB8C00;
}
@media (max-width: 768px) {
  /* line 214, ../sass/main.scss */
  header.headerTest1 {
    height: 170px;
  }
}
/* line 222, ../sass/main.scss */
header.headerTest1 .header-content {
  max-width: 1200px;
  margin: auto;
}
/* line 225, ../sass/main.scss */
header.headerTest1 .header-content .header-logo {
  width: 10%;
  height: 120px;
  float: left;
}
/* line 229, ../sass/main.scss */
header.headerTest1 .header-content .header-logo a {
  display: block;
  position: relative;
  text-align: center;
  height: 100%;
}
/* line 234, ../sass/main.scss */
header.headerTest1 .header-content .header-logo a img {
  width: 120px;
  height: 120px;
}
@media (max-width: 768px) {
  /* line 225, ../sass/main.scss */
  header.headerTest1 .header-content .header-logo {
    width: 100%;
  }
  /* line 242, ../sass/main.scss */
  header.headerTest1 .header-content .header-logo a img {
    width: 100px;
    height: 100px;
  }
}
/* line 249, ../sass/main.scss */
header.headerTest1 .header-content .navi-bar {
  width: auto;
}
/* line 251, ../sass/main.scss */
header.headerTest1 .header-content .navi-bar .content-bar {
  height: 60px;
  text-align: right;
}
/* line 254, ../sass/main.scss */
header.headerTest1 .header-content .navi-bar .content-bar .nav-box {
  display: inline-block;
  width: 20%;
  height: 100%;
}
/* line 258, ../sass/main.scss */
header.headerTest1 .header-content .navi-bar .content-bar .nav-box p {
  font-size: 15px;
  font-family: 'myriadpro-regular';
  color: #ffffff;
  text-align: center;
  padding: 18px 30px 0 30px;
}
@media (max-width: 768px) {
  /* line 254, ../sass/main.scss */
  header.headerTest1 .header-content .navi-bar .content-bar .nav-box {
    display: none;
  }
}
/* line 270, ../sass/main.scss */
header.headerTest1 .header-content .navi-bar .navi-main {
  height: 60px;
  position: relative;
}
/* line 273, ../sass/main.scss */
header.headerTest1 .header-content .navi-bar .navi-main button {
  display: none;
  position: absolute;
  width: 50px;
  height: 50px;
  border: none;
  outline: none;
  background-color: #ffffff;
  border-radius: 50%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  margin-top: 50px;
  z-index: 100;
}
/* line 291, ../sass/main.scss */
header.headerTest1 .header-content .navi-bar .navi-main nav ul {
  text-align: right;
}
/* line 293, ../sass/main.scss */
header.headerTest1 .header-content .navi-bar .navi-main nav ul li {
  position: relative;
  display: inline-block;
  height: 60px;
  list-style: none;
  text-align: center;
  padding: 18px 40px 0 40px;
}
/* line 300, ../sass/main.scss */
header.headerTest1 .header-content .navi-bar .navi-main nav ul li a {
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  color: #ffffff;
  font-size: 2.1vh;
  font-family: 'myriadpro-bold';
  text-transform: uppercase;
  outline: none;
}
/* line 311, ../sass/main.scss */
header.headerTest1 .header-content .navi-bar .navi-main nav ul li ul {
  margin-top: 14px;
  position: absolute;
  display: none;
}
/* line 315, ../sass/main.scss */
header.headerTest1 .header-content .navi-bar .navi-main nav ul li ul li {
  display: block;
  background-color: #FB8C00;
  padding: 10px 43px 30px 40px;
  text-align: left;
  margin-left: -40px;
  height: 0;
}
@media (max-width: 768px) {
  /* line 270, ../sass/main.scss */
  header.headerTest1 .header-content .navi-bar .navi-main {
    text-align: right;
  }
  /* line 339, ../sass/main.scss */
  header.headerTest1 .header-content .navi-bar .navi-main button {
    display: block;
  }
  /* line 343, ../sass/main.scss */
  header.headerTest1 .header-content .navi-bar .navi-main nav ul {
    display: none;
    padding-top: 180px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #f44336;
  }
  /* line 352, ../sass/main.scss */
  header.headerTest1 .header-content .navi-bar .navi-main nav ul li {
    display: block;
  }
}
/* line 364, ../sass/main.scss */
header.headerTest2 {
  display: none;
  background-color: #0277BD;
  max-width: 285px;
  height: 100%;
}
/* line 370, ../sass/main.scss */
header.headerTest2 .header-content .header-logo {
  height: 20%;
}
/* line 372, ../sass/main.scss */
header.headerTest2 .header-content .header-logo a {
  position: relative;
  display: block;
  height: 100%;
}
/* line 376, ../sass/main.scss */
header.headerTest2 .header-content .header-logo a img {
  width: 270px;
  height: 270px;
}
/* line 386, ../sass/main.scss */
header.headerTest2 .header-content .navi-bar nav ul li a {
  width: 100%;
  color: #ffffff;
  line-height: 80px;
  color: #ffffff;
  text-decoration: none;
  padding: 0 30px;
  text-transform: uppercase;
  font-family: 'myriadpro-bold';
  font-size: 16px;
  border: none;
  background: none;
  position: relative;
  letter-spacing: 0.16px;
  min-width: auto;
  outline: none;
  -webkit-transition: all .3s;
  transition: all .3s;
}

/* line 413, ../sass/main.scss */
.body-section {
  padding: 0 15px;
}
