@import "compass/css3";

* {
  margin: 0; 
  padding: 0;
  @include box-sizing(border-box);
}

@font-face { 
    font-family: 'HelveticaNeue';
    src: url('../../fonts/HelveticaNeue/HelveticaNeue.eot');
    src: url('../../fonts/HelveticaNeue/HelveticaNeue.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/HelveticaNeue/HelveticaNeue.woff') format('woff'),
         url('../../fonts/HelveticaNeue/HelveticaNeue.ttf') format('truetype'),
         url('../../fonts/HelveticaNeue/HelveticaNeue.svg#HelveticaNeue') format('svg');
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: 'HelveticaNeue-Bold';
    src: url('../../fonts/HelveticaNeue-Bold/HelveticaNeue-Bold.eot');
    src: url('../../fonts/HelveticaNeue-Bold/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/HelveticaNeue-Bold/HelveticaNeue-Bold.woff') format('woff'),
         url('../../fonts/HelveticaNeue-Bold/HelveticaNeue-Bold.ttf') format('truetype'),
         url('../../fonts/HelveticaNeue-Bold/HelveticaNeue-Bold.svg#HelveticaNeue-Bold') format('svg');
    font-weight: normal;
    font-style: normal; 
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px; 
    -moz-osx-font-smoothing: grayscale;
}  


@font-face {
    font-family: 'HelveticaNeue-Thin';
    src: url('../../fonts/HelveticaNeue-Thin/HelveticaNeue-Thin.eot');
    src: url('../../fonts/HelveticaNeue-Thin/HelveticaNeue-Thin.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/HelveticaNeue-Thin/HelveticaNeue-Thin.woff') format('woff'),
         url('../../fonts/HelveticaNeue-Thin/HelveticaNeue-Thin.ttf') format('truetype'),
         url('../../fonts/HelveticaNeue-Thin/HelveticaNeue-Thin.svg#HelveticaNeue-Thin') format('svg');
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px; 
    -moz-osx-font-smoothing: grayscale;
}


@font-face {
    font-family: 'myriadpro-regular';
    src: url('../../fonts/myriadpro-regular/myriadpro-regular.eot');
    src: url('../../fonts/myriadpro-regular/myriadpro-regular.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/myriadpro-regular/myriadpro-regular.woff') format('woff'),
         url('../../fonts/myriadpro-regular/myriadpro-regular.ttf') format('truetype'),
         url('../../fonts/myriadpro-regular/myriadpro-regular.svg#myriadpro-regular') format('svg');
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: 'myriadpro-bold';
    src: url('../../fonts/myriadpro-bold/MyriadPro-Bold.eot');
    src: url('../../fonts/myriadpro-bold/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/myriadpro-bold/MyriadPro-Bold.woff') format('woff'),
         url('../../fonts/myriadpro-bold/MyriadPro-Bold.ttf') format('truetype'),
         url('../../fonts/myriadpro-bold/MyriadPro-Bold.svg#myriadpro-bold') format('svg');
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px; 
    -moz-osx-font-smoothing: grayscale;
}

%clearfix {
  &:before, &:after {
    content:" ";
    display:table;
  }

  &:after {
    clear:both;
  }

  & {
    *zoom:1;
  }
}

.container {
  max-width:1200px;
  min-width: 992px;
  margin:0 auto;
  //padding:0 15px;
  @extend %clearfix;

  &.container-full {
    max-width: 100%;
    min-width: 992px;

  }
  
  //----------------------------
  //--- container responsive
  //----------------------------
  // @media (min-width:768px){
  //   max-width:750px;
  // }

  // @media (min-width:992px){
  //   max-width:960px;
  // }

  @media (max-width:1200px){
    max-width:992px;
  }
  //----------------------------
  //----------------------------

}


.row {
  @extend %clearfix;
  margin:0 -15px;
    //padding-bottom:70px;
    //margin-bottom: 70px;
}

[class*='col-'] {
    width: 100%;
    min-height: 1px; 
    float: left;
    position: relative;
    padding-left:15px;
    padding-right:15px;
} 


@for $i from 1 through 12 {
 
    .col-#{$i} { 
      width: 100% / 12 * $i;
    }
 
}


@media(max-width:992px) {

    @for $i from 1 through 12 {
     
        .col-tb-#{$i} { 
          width: 100% / 12 * $i;
        }
     
    }

}

@media(max-width:768px) {

    @for $i from 1 through 12 {
      
        .col-mb-#{$i} { 
          width: 100% / 12 * $i;
        }
     
    }
}


@media(min-width:768px) {

  @for $i from 1 through 12 {
   
      .col-push-#{$i} { 
        left: 100% / 12 * $i;
      }
   
  } 

  @for $i from 1 through 12 {
   
      .col-pull-#{$i} { 
        left: - 100% / 12 * $i;
      }
   
  }
}

html,body {
    position: relative; 
    width: 100%;
    height: 100%;
    //min-width: 992px;
}


/*###############################################
##
##   Header section
##
###############################################*/

header {
  // Horizontel Header with top contents
  &.headerTest1 {
    //display: none;
    width: 100%;
    height: 120px;
    background-color: #FB8C00;
    @media (max-width: 768px) {
      height: 170px;
    }
    .header-content {  
      max-width: 1200px;
      margin: auto;
      .header-logo {
        width: 10%;
        height: 120px;
        float: left;
        a {
          display: block;
          position: relative;
          text-align: center;
          height: 100%;
          img {
            width: 120px;
            height: 120px;
          }
        }
        @media (max-width: 768px) {
          width: 100%;
          a {
            img {
              width: 100px;
              height: 100px;
            }
          }
        }
      }
      .navi-bar { 
        width: auto;
        .content-bar {
          height: 60px;
          text-align: right;
          .nav-box {
            display: inline-block;
            width: 20%;
            height: 100%;
            p {
              font-size: 15px;
              font-family: 'myriadpro-regular';
              color: #ffffff;
              text-align: center;
              padding: 18px 30px 0 30px;
            }
            @media (max-width: 768px) {
              display: none;
            }
          }
        }
        .navi-main {  
          height: 60px;
          position: relative;
          button {
            display: none;
            position: absolute;
            width: 50px;
            height: 50px;
            border: none;
            outline: none;
            background-color: #ffffff;
            border-radius: 50%;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            margin-top: 50px;
            z-index: 100;
          }
          nav {
            ul {
              text-align: right;
              li {
                position: relative;
                display: inline-block;
                height: 60px;
                list-style: none;
                text-align: center;
                padding: 18px 40px 0 40px; 
                a {
                  text-align: center;
                  text-decoration: none;
                  cursor: pointer;
                  color: #ffffff;
                  font-size: 2.1vh;
                  font-family: 'myriadpro-bold';
                  text-transform: uppercase;
                  outline: none;

                }
                ul {
                  margin-top: 14px;
                  position: absolute;
                  display: none;
                  li {
                    display: block;
                    background-color: #FB8C00;
                    padding: 10px 43px 30px 40px;
                    text-align: left;
                    margin-left: -40px;
                    height: 0;
                  }
                }
                // &:hover {
                //   background-color: #FF9800;
                //   a {
                //     color: #000000;  
                //   }
                //   ul {
                //     display: block;
                //   }
                  
                // }
              }
            }
          }
          @media (max-width: 768px){
            text-align: right;
            button {
              display: block;
            }
            nav {
              ul {
                display: none;
                padding-top: 180px;
                position: fixed;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: #f44336;
                li {
                  display: block;
                }
              }
            }
          }
        }
      }
    }
  }

  // Vertical Header with top contents
  &.headerTest2 {
    display: none;
    background-color: #0277BD;
    max-width: 285px;
    height: 100%;
    .header-content {
      .header-logo {
          height: 20%;
          a {
              position: relative;
              display: block;
              height: 100%;
              img {
                  width: 270px;
                  height: 270px;
              }
          }
      }
      .navi-bar {
        nav {
          ul {
            li {
              a {
                width: 100%;
                color: #ffffff;
                line-height: 80px;
                color: #ffffff;
                text-decoration: none; 
                padding: 0 30px;
                text-transform: uppercase;
                font-family: 'myriadpro-bold';
                font-size: 16px;
                border: none;
                background: none;
                position: relative;
                letter-spacing: 0.16px;  
                min-width: auto;
                outline: none;
                -webkit-transition: all .3s;
                transition: all .3s;
              }
            }
          }
        }
      }
    }
  }
}

.body-section {
  padding: 0 15px;
}



